fl-record-container .record-container-load-error {
  text-align: center;
}

fl-record-container .record-container-test-mode {
  margin-bottom: 10px;
}

fl-record {
  position: relative;
}

.mode-interact .view-is-empty {
  border: 5px solid #D4D4D4!important;
  color: #6A6868!important;
  font-size: 12px!important;
  font-family: "Open Sans", sans-serif;
}