fl-record-container .record-container-load-error {
  text-align: center;
}

fl-record-container .record-container-test-mode {
  margin-bottom: 10px;
}

fl-record {
  position: relative;
}

.mode-interact .fl-view-empty {
  border: none!important;
  color: #6A6868!important;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding: 15px;
  text-align: center;
  padding: 0!important;
  display: block!important;
}